How to think like a computer scientist - Python

Chapter 2 - Variables, expressions and statements

In [2]:
var = "Hello world" #using a variable called var to store a data type
print(var)

Hello world

In [4]:
print(type(var)) #use type() function to find out the data type

<class 'str'>

In [6]:
print(type(2))

<class 'int'>

In [7]:
print(type(4.5))

<class 'float'>

In [8]:
print(type(4/5))

<class 'float'>

In [9]:
print(type(True))

<class 'bool'>

In [10]:
print(type("4.5")) #numbers enclosed in quotes are considered to be str data type

<class 'str'>

In [11]:
#printing consecutive things
print(4,5)

4 5

In [12]:
print("hello world", 2.0)

hello world 2.0

In [13]:
print("hello world" , "how are you")

hello world how are you

In [14]:
print("hello world" + "how are you") #concatination of strings ... observe that no space is inserted between strings

hello worldhow are you

In [16]:
#variables 
#names given to values
#use assignment operator to assign a value to the variable
x = 5.78

print(x)

5.78

In [17]:
#on paper -- use state diagram ... x -> 5.78
y = (2,4)
print (y)

(2, 4)

In [18]:
print (type(y))

<class 'tuple'>

In [ ]:
#key words cannot be used as variable names ... python has 29 keywords

In [19]:
x = 3
print (x < 2 * 2) #first 2 * 2 is evaluated to 4 .. then comparision takes place

True