Chapter 6 : Iteration

In [9]:
#countdown program using iteration
#i = 10
def countdown(n):
    while (n != 0):
        print(n)
        n -= 1
    print("Happy new year!!")
    return None
countdown(10)

10
9
8
7
6
5
4
3
2
1
Happy new year!!

In [11]:
#log values of powers of two 
def logtable(n):
    while n > 0:
        print(n, '\t', 2**n)
        n -= 1
    return None
logtable(10)

10 	 1024
9 	 512
8 	 256
7 	 128
6 	 64
5 	 32
4 	 16
3 	 8
2 	 4
1 	 2

In [13]:
#testing escape characters \t and \n
print("produces\n\tthis\n\n\t\toutput")

produces
	this

		output

In [36]:
#2D tables - multiplication example
def print_multiples(n):
    i = 1
    while(i <= n):
        print(i, end =''), 
        j = 1
        while(j <= n):
            print("\t", i*j,end ='')
            j += 1
        print()
        i += 1
    return None
def multiply(n):
    k = 1
    while(k <= n):
        print('\t',k,end='')
        k += 1
    print()
    print_multiples(n)
    return None
multiply(10)

	 1	 2	 3	 4	 5	 6	 7	 8	 9	 10
1	 1	 2	 3	 4	 5	 6	 7	 8	 9	 10
2	 2	 4	 6	 8	 10	 12	 14	 16	 18	 20
3	 3	 6	 9	 12	 15	 18	 21	 24	 27	 30
4	 4	 8	 12	 16	 20	 24	 28	 32	 36	 40
5	 5	 10	 15	 20	 25	 30	 35	 40	 45	 50
6	 6	 12	 18	 24	 30	 36	 42	 48	 54	 60
7	 7	 14	 21	 28	 35	 42	 49	 56	 63	 70
8	 8	 16	 24	 32	 40	 48	 56	 64	 72	 80
9	 9	 18	 27	 36	 45	 54	 63	 72	 81	 90
10	 10	 20	 30	 40	 50	 60	 70	 80	 90	 100